.banner {
  padding: 134px 0 172px;
  background-image: url(../../images/bg/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  &__title {
    color: #fff;
    background-color: $colorAccent;
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 1350px;
    text-align: center;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 30px;
  }
  &__btn {
    padding: 25px 45px;
    font-weight: 600;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .banner {
    &__title {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 60px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 30px;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 491px;
    }
    &__btn {
      padding: 20px 37px;
    }
  }
}

@media (max-width: 500px) {
  .banner {
    &__title {
      font-size: 24px;
      line-height: 35px;
      margin-bottom: 27px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 27px;
    }
    &__btn {
      padding: 18px 34px;
    }
  }
}
