.partners {
  padding-top: 100px;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    margin-bottom: 20px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    width: 288px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
